body {
  font-size: 16px;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #87a2a5;
}
h2 {
  font-size: 2.2rem;
  line-height: 1.101;
  margin-bottom: 1.101em;
}
h3 {
  font-size: 1.7rem;
  color: #8a8a8a;
}
p {
  margin-bottom: 1.5em;
}
table {
  caption-side: top;
}
caption {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  text-align: center;
  h2 {
    margin: 0px;
    text-transform: italic;
  }
}
.w-45 {
  width: 45% !important;
}
.font-weight-bold {
  font-weight: bold;
}
.brown-color {
  color: #808080;
}
.paragraph--type--image {
  border-top: 1px solid blue;
  padding-top: 20px;
  img {
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 6px;
    height: auto;
    padding: 10px;
  }
}
.caption-text {
  color: #8a8a8a;
  font-style: italic;
  text-align: center;
  font-size: 1.4rem;
}
.img-info {
  margin-top: 20px;
  margin-right: 30px;
}
.d-flex {
  display: flex;
}
.mt-20 {
  margin-top: 20px;
}
.price {
  flex-flow: row wrap;
  justify-content: center;
  & table {
    flex: 45%;
    margin: 10px;
    padding: 10px;
  }
}
.pink {
  color: #ff00ff;
}
.site-branding {
  text-align: center;
  margin: 1em 0;
  .site-name {
    font-family: "Pacifico", cursive;
    line-height: 1.2em;
    a {
      font-size: 2.5em;
      text-decoration: none;
      color: #604a00;
    }
  }
}
