<tr>
  <th scope="row">
    {{ content.field_name[0] }}
  </th>
  <td>
    {{ content.field_full_set[0] }} <sup>up</sup>
  </td>
  <td>
    {{ content.field_fill_ins[0] }} <sup>up</sup>
  </td>
</tr>
